@import "reset.css";
@import "status.css";
@import "nav.css";
@import "bg.css";
@import "content.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #e8e8eb;
  padding: 30px 15px;
  font-family: "Noto Sans", sans-serif;
}
